{% extends 'base.html'%}
{% load static %}

{% block content %}
<!-- Background Image Section -->

<div class="container-fluid">
    <div class="row">
        <div  class="d-flex flex-column justify-content-center">
        <!-- Main Heading -->
            <header class="main-heading text-center oswald text-dark p-3 mt-5 bg-warning montserrat mx-auto ">Welcome to Your Oasis of Positivity !</header>
                <p class="text main-message mx-auto montserrat  p-3 mt-3  text-center rounded montserrat">At <span class=" span-text text-info">AffirmApp</span>, we're dedicated to helping you unlock your full potential and embrace a life filled with positivity, purpose, and personal growth. Our mission is to provide you with the tools, resources, and support you need to thrive in every aspect of your life.</p>
            <section class="text-center pt-3 mb-2 about-us mw-100 mx-auto my-auto mt-2 montserrat">
                <p class="text mw-100 mx-auto my-auto bg-danger rounded p-3">With <span class="span-text text-white">AffirmApp</span>, you have the power to write and store your personalized affirmations. Express your unique aspirations, goals, and dreams in your own words, and revisit them whenever you need a boost of positivity and motivation. Stay motivated and inspired as you witness the positive changes unfolding in your life.</p>
            </section>
            <div class="text-center lobster">
                <h2 class="start-journey  mt-3 rounded p-3 mx-auto">Start Your Journey Today !</h2>
                <a href="{% url 'affirmations' %}" class="btn btn-light btn-lg lobster d-block mx-auto mt-3 mb-3" aria-label="my affirmatives">My Affirmatives</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}