{% extends 'base.html'%}
{% load static %}

{% block content %}
<!-- Background Image Section -->

<div class="container-fluid">
    <div class="row">
        <div  class="d-flex flex-column justify-content-center">
        <!-- Main Heading -->
            <header class="main-heading text-center oswald text-dark p-3 mt-5 bg-warning montserrat mx-auto ">Welcome to Your Oasis of Positivity !</header>
                <p class="text main-message mx-auto montserrat  p-3 mt-3  text-center rounded montserrat">At <span class=" span-text text-info">AffirmApp</span>, we're dedicated to helping you unlock your full potential and embrace a life filled with positivity, purpose, and personal growth. Our mission is to provide you with the tools, resources, and support you need to thrive in every aspect of your life.</p>
            <section class="text-center pt-3 mb-2 about-us mw-100 mx-auto my-auto mt-2 montserrat">
                <p class="text mw-100 mx-auto my-auto bg-danger rounded p-3">With <span class="span-text text-white">AffirmApp</span>, you have the power to write and store your personalized affirmations. Express your unique aspirations, goals, and dreams in your own words, and revisit them whenever you need a boost of positivity and motivation. Stay motivated and inspired as you witness the positive changes unfolding in your life.</p>
            </section>
            <div class="text-center lobster">
                <button type="button" data-bs-toggle="modal" data-bs-target="#question-modal" class="start-journey btn btn-lg lobster mx-auto mt-3 mb-3" >Start Your Journey Today !</a>

                <button type="button" data-bs-toggle="modal" data-bs-target="#generator-modal" class="generator-btn btn btn-light btn-lg lobster d-block mx-auto mt-3 mb-3" >Generate Affirmation</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="generator-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-success">
        <div class="modal-header">
        <h5 class="modal-title montserrat h3" id="exampleModalLabel">Your Affirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body main-message">
        
    </div>
    </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="question-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-success">
        <div class="modal-header">
        <h5 class="modal-title montserrat h3" id="exampleModalLabel">Every Problem Has A Solution</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body main-message">
        
    </div>
    </div>
    </div>
</div>
{% endblock content %}

{% block postloadjs %}
<script>

let affirmations = [
    "I am worthy of love and respect.",
    "I believe in myself and my abilities.",
    "I am deserving of happiness and fulfillment.",
    "I attract positive energy into my life.",
    "I am grateful for all that I have.",
    "I trust in the process of life.",
    "I embrace change and growth.",
    "I am surrounded by abundance and prosperity.",
    "I radiate confidence and self-assurance.",
    "I am capable of overcoming any challenge.",
    "I choose joy and positivity every day.",
    "I am at peace with who I am.",
    "I am surrounded by loving and supportive people.",
    "I am resilient and can bounce back from setbacks.",
    "I am worthy of success and achievement.",
    "I am enough just as I am.",
    "I forgive myself and others for any past mistakes.",
    "I attract opportunities for personal and professional growth.",
    "I am the architect of my own destiny.",
    "I am grateful for the gift of life and all its experiences."
]

$('.generator-btn').click(function(){
    let num = getRandomNumber()
    let aff = affirmations[num]

   $('#generator-modal .modal-body').html(`<h3 class="lobster text-center m-5 h1">${aff}</h3>`)

})

function getRandomNumber() {
  return Math.round(Math.random() * (20 - 0) + 0);
}

$('.start-journey').mouseenter(function() {
    $(this).text(`Do You Have A Problem In Life?`)
}).mouseleave(function() {
    $(this).text("Start Your Journey Today!");
});

if (window.innerWidth < 1200){
    $('.start-journey').text(`Do You Have A Problem In Life? Then Click Now`)
}


$('.start-journey ').click(function(){
    dontWorry('yes')
})


let counter = 0
function dontWorry(answer){
    let questions =["Do You Have A Problem In Life?", "Can You Do Something About It?", 'Then Why Worry?' ]

    if(answer == 'no'){
        counter= 2;
    }
    $('#question-modal .modal-body').html(`<div class="text-center w-100"><h3 class="lobster text-center m-5 h1">${questions[counter]}</h3>
        <button class="btn-sm btn-success m-3" onclick="dontWorry('yes')">Yes</button><button class="btn-sm btn-danger m-3" onclick="dontWorry('no')">No</button></div>  `)
    if (answer == 'yes' && counter < 2){
        counter++;
    }else{
        counter=0;
    }
}

</script>
{% endblock %}

