 *{
    margin:0;
    padding:0;
    box-sizing: border-box;
 }
 
 /* font-family */
 .lobster{
    font-family:'Lobster', cursive;
 }
.oswald{
font-family:'Oswald', sans-serif;
}

/* //////////////////// allauth templates //////////////////// */
/* for sign up/sign-in/log-out */
.all-auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 600;
    margin: 100px 0;
}

.all-auth-container button {
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #28a745; /* Border color for success theme */
    color: #fff;
    background-color: #28a745; /* Background color for success theme */
    border-radius: 4px; /* Optional: Add border-radius for rounded corners */
    transition: background-color 0.3s ease;
}

/* Hover effect for the success button */
.all-auth-container button:hover {
    background-color: #218838; /* Darker shade on hover */
}

/* ////////////////////allauth and help pages ///////////////////////////// */
.user_card {
    display: flex;
    justify-content: center;
    height: fit-content;
    justify-content: space-evenly;
    width: 90%;
    min-height: 400px;
    background: #57abb889;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    word-wrap: break-word;
}

.user_card input{
    display: block;
    width: 100%;
}

#div_id_remember label {
    display: flex;
}

.brand_logo_container {
    position: relative;
    margin: -61px auto 0 auto;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: white;
}

.brand_logo {
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    left: 2px;
    top: 0;
    box-shadow: 0 2px 4px rgba(40, 167, 69, 0.9); 
}

.user_card input, .user_card button {
    max-width: 100% !important;
    margin-bottom: 5px;
}

.user_card input[type="radio"], .user_card input[type="checkbox"]{
    max-width: fit-content !important;
    display: inline;
}

.user_card .form {
    width: fit-content;
    margin: auto;
    max-width: 500px;
}

.user_card .form textarea {
    width: 100%;
}

/* styles for base html */
.footer-text{
    font-size:22px;
    font-weight: 700;
    margin:0;
}

.navbar-brand{
    font-size:35px;
    letter-spacing:2px;
}

 /* styles for home page */
 .background-image{
    background-image:url("/static/images/background-image.avif");
    width:100vw;
    height:100vh;
    background-size: cover;
    background-position:center;
    overflow-x: hidden;
} 

.main-heading{
    color:black; 
    font-size:28px;
    font-weight:700;
    border-radius:9px;
    width:100%;
    opacity: 0.9;
}

.main-message{
    background-color:#fdf0d5;
}

.btn{
    margin-top:10px;
    width:80%;
    opacity:0.9;
    Font-weight:700;
    letter-spacing:2px;
    color:black;
    background-color:#ffb703;
    border-radius:9px;
    font-size:22px;
    border: 2px dotted black;
}

.text{
    font-size:18px;
    font-weight:500;
}

.span-text{
    font-size:20px;
    font-weight:700;
}

.nav-link{
    font-size:18px;
    font-weight:600;
}

.nav-link:hover{
    color:yellow !important;
}
h2{
    background-color: #3a5a40;
}

@media only screen and (min-width:767px) {
    .nav-link, .text{
        font-size:22px;
    }
    .main-heading{
        font-size:35px;
    }
    .navbar-brand{
        font-size:38px;
    }
    .btn{
        font-size:28px;
    }
    .text{
        width:500px;
    }
    .main-heading,h2{
        width:70%;
     }
     .btn{
        width:30%;
     }
    } 