{% load static %}

{% url 'account_login' as login_url %}

{% url 'account_signup' as signup_url %}

{% url 'account_logout' as logout_url %}

{% url 'home' as home_url %}

{% url 'profile' as profile_url %}



<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="robots" content="index, follow">
        <meta name="author" content="World vape center">
        <meta name="description" content="">
        <meta name="keywords" content="">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% comment %} {% block favicon %}
        <link rel="icon" sizes="192x192" href="{% static 'images/favicon/logo192.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/applelogo.png' %}">
        <link rel="icon" href="{% static 'images/favicon/favicon.ico' %}" type="image/x-icon">
        <link rel="icon" sizes="32x32" href="{% static 'images/favicon/logo32.png' %}">
        <link rel="icon" sizes="16x16" href="{% static 'images/favicon/logo16.png' %}">
        <link rel="icon" sizes="32x32" href="{% static 'images/favicon/logo512.png' %}">
    {% endblock %}    {% endcomment %}
    
    {% block corecss %}   
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">  

    {% endblock %}

    {% block extra_css %}
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@300;500;600;700&family=Oswald:wght@300;400;500;700&display=swap" rel="stylesheet">
          
{% endblock %}

    {% block corejs %}
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        <script async src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script async src="https://kit.fontawesome.com/2be66b3e41.js" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
      
    {% endblock %}

    <title>{% block extra_title %}{% endblock %}</title>
  </head>
  <body class="d-flex flex-column h-100">

    <header class="container-fluid p-0 ">
      {% block page_header %}
      <nav class="bg-success navbar navbar-expand-lg navbar-dark px-4">
      <a class=" lobster navbar-brand mx-auto  text-center " href="{% url 'home' %}">AffirmApp</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end"  id="navbarSupportedContent">
            <ul class="navbar-nav  mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="oswald nav-link {% if home_url == request.path %}text-white{% endif %}" aria-current="page"
                            href="{% url 'home' %}">Home</a>
              </li>
              {% if user.is_authenticated %}
               <!-- Display logout link when the user is authenticated -->
               <li class="nav-item">
                <a class="oswald nav-link {% if 'affirmations' in request.path %}text-white{% endif %}" aria-current="page" href="{% url 'affirmations' %}">My Affirmatives</a>
              </li> 
              <li class="nav-item">
                <a class="oswald nav-link {% if request.path == profile_url %}text-white{% endif %}" aria-current="page" href="{% url 'profile' %}">Profile</a>
              </li> 

                 <li class="nav-item">
                  <a class="oswald nav-link {% if 'logout' in request.path %}text-white{% endif %}" aria-current="page" href="{% url 'account_logout' %}">Logout</a>
                </li> 
                {% else %}
                <!-- Display registration and login links when the user is not authenticated -->
                <li class="nav-item">
                  <a class="oswald nav-link {% if 'signup' in request.path %}text-white{% endif %}" aria-current="page"
                    href="{% url 'account_signup' %}">Register</a>
                </li>
                <li class="nav-item">
                  <a class="oswald nav-link {% if 'login' in request.path %}text-white{% endif %}" aria-current="page" href="{% url 'account_login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
          </div>
      </nav>
      {% endblock %}
      {% block extra_header %}
      {% endblock %}
    </header>
  
    <main>
    
      {% if messages %}
      
      {% for message in messages %}
        <div class="messages position-absolute m-4">
            <div class="mx-auto alert bg-{% if not message.tags == 'error' %}{{message.tags}}{% else %}danger{% endif %} mx-auto">
                <strong>{{message.tags}}</strong>
                <hr class="message-inner-separator">
                <p>
                  {{ message }}
                </p>
            </div>
        </div>
      {% endfor %}
      
      {% endif %}

      {% block content %}

      {% endblock %}    
    </main>

    <footer class="text-center" id="help">
      {% block page_footer %}

    <p class="mt-auto footer-text text-white bg-success  lobster p-3">&copy;24/03-Hackaton-Team3</p>

      {% endblock %}
    </footer>
    <script>

      $(document).ready(function() {
        // Remove messages after 3 seconds

        setTimeout(() => {
          $('.messages').remove()
        }, 3000); 
        
         
    });
   
    </script>
    {% block postloadjs %}
    {% endblock %} 

{% block extra_postloadjs %}  
{% endblock %}    
  </body>
</html>